.header {
  color: #fff;
  font-family: 'Dosis', sans-serif;
} 


.navbar {
    background-color: #333; 
    padding: 10px; 
  }
  
  .navbar ul {
    list-style: none; 
    display: flex; 
    justify-content: space-around; 
    margin: 0; 
    padding: 0; 
  }
  
  .navbar li {
    margin: 0;
  }
  
  .navbar a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 16px; 
  }
  .navbar a:hover {
    color: #ccc; 
  }
  .nav-item {
    font-family: 'Dosis', sans-serif;
  }

  .signup-container {
    background-image: url('./../assets/background.PNG');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .signup-form-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    text-align: center;
  }
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .signup-form input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .signup-form button {
    padding: 10px;
    background-color: #e41a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #9e3333;
  }
  .login-container {
    background-image: url('./../assets/background.PNG');
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .login-form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    text-align: center;
    justify-content: center;
  }
  .login-form button {
    padding: 10px;
    background-color: #e41a1a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-form button:hover {
    background-color: #9e3333;
  }
 
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .movie-list {
    text-align: center;
    background-color: #000000;
  }
  
  .movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .movie-details {
    padding: 10px;
  }
  
  .custom-font {
  font-family: 'Dosis', sans-serif;
  /* Other styles... */
}
  
.news-container {
  display: flex;
  flex-wrap: wrap;
}

.news-item {
  flex: 0 0 calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
